<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Ensure requests go to the public folder -->
                <rule name="Rewrite to Public Folder" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="public/{R:0}" />
                </rule>
            </rules>
        </rewrite>

        <!-- Specify the entry point for the Laravel app -->
        <defaultDocument>
            <files>
                <clear />
                <add value="public/index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
