@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background */

.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.1;
}

/* Navigation */
.x-nav-link {
    flex: 1;
    text-align: center;
}

.x-nav-link.active {
    background-color: #008080;
    color: white;
}

.navbar-sticky-top {
    position: sticky;
    z-index: 999;
    opacity: 1;
    width: 100%;
    top: 0;
}

.below-sticky {
    top: 1;
}


/* Page Layouts */

.logo {
    height: 60px;
    width: auto;
}

.page-container {
    padding: 1.5rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 75vh;
}

.element-container {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.375rem;
    margin: 1rem;
}

.element-container-transparent {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(255, 255, 255, 0.527);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.375rem;
    margin: 1rem;
    opacity: 0.9;
}

.h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 1px;
    line-height: 1.2;
}

/* Buttons */

/* Create Job Button Styles */
.btn-primary {
    display: inline-block;
    background-color: #3490dc;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.25rem;
    border-radius: 0.375rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
    background-color: #2779bd;
    transform: translateY(-2px);
}

.btn-primary:active {
    background-color: #1e5a7a;
    transform: translateY(0);
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(56, 189, 248, 0.5);
}

/* Banner */
.banner-container {
    width: 100%;
}

.register-btn {
    background-color: #026b72;
    color: white;
    padding: 40px 80px;
    border: none;
    border-radius: 5px;
    font-size: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    outline: none;
}

.register-btn:hover,
.register-btn:focus,
.register-btn:active {
    background-color: #00eeff;
    color: #026b72;
    outline: none;
}

/* Detail */
.detail-title {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
}

.detail-subinfo {
    font-size: 1.1rem;
    color: #16a34a;
    margin-bottom: 20px;
}

.detail-section {
    margin-bottom: 20px;
}

.detail-section h2 {
    font-size: 1.2rem;
    color: #374151;
    margin-bottom: 5px;
}

.detail-section p {
    font-size: 1rem;
    color: #4b5563;
    line-height: 1.6;
}

.detail-timestamp {
    font-size: 0.9rem;
    color: #6b7280;
    text-align: right;
    margin-top: 20px;
}

/* Job List */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    border: 1px solid #D1D5DB;
    padding: 0.5rem;
    text-align: left;
}

.table td {
    border: 1px solid #D1D5DB;
    padding: 0.5rem;
}

/*Search Bar*/
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 4px;
}

.search-input {
    border: none;
    padding: 8px;
    width: 100%;
    outline: none;
}

.search-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 4px;
}

.sort-dropdown {
    padding: 8px;
    border: 1px solid #ddd;
    margin-left: 10px;
    padding-right: 50px;
    border-radius: 4px;
}

.sort-direction-btn {
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

/* Dashboard */
.tab {
    overflow: hidden;
    background-color: #026b72;
    border-radius: 1rem;
    color: rgb(216, 216, 216);
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #00a2ad;
    color: white;
}

.tab button.active {
    background-color: #003135;
    color: white;
}

.tabcontent {
    display: none;
    border-top: none;
}

.tabcontent h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 1px;
    line-height: 1.2;
}

/* Profile Name & Info */
.profile-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.profile-info {
    font-size: 0.875rem;
    color: #4a5568;
    margin-bottom: 0.25rem;
}

/* Profile Picture */
.profile-picture-container {
    width: 100px;
    height: 100px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5rem;
    background-color: #ffffff;
}

/* Display Profile Information */
.profile-information-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.profile-information-picture-container {
    flex-shrink: 0;
}

.profile-information-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}

/* Profile Text Section */
.profile-information-text-container {
    flex: 1;
    font-size: 1rem;
    color: #333;
}

/* Update Profile Picture */
.update-profile-picture {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Create Job Form */

.create-job-form.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.create-job-form.transition-all {
    transition: all 0.3s ease-in-out;
}

.create-job-form.hidden {
    display: none;
}

/* Company List */

.company-card {
    background-color: #9affff;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(72, 85, 83, 0.1);
    border-radius: 0.375rem;
    margin-bottom: 1.5rem;
}

.company-content {
    padding: 1.5rem;
    color: #1a202c;
    display: flex;
    gap: 1rem;
}

.profile-picture-container img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.company-list-text-container {
    flex: 1;
}

.company-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.company-info {
    color: #4a5568;
}

.company-description {
    color: #718096;
    margin-top: 0.5rem;
}

/* Job List */
.job-card {
    background: #c5ffe9;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.375rem;
}

.job-content {
    padding: 1.5rem;
    color: #1a202c;
    display: flex;
    gap: 1rem;
}

.job-list-text-container {
    flex: 1;
}

.job-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.job-salary,
.job-description,
.job-posted {
    margin: 5px 0;
}

/* Comment */
.comment-container {
    display: flex;
    align-items: justify;
    justify-content: space-between;
    background-color: #00e1ff;
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.comment-text {
    flex-grow: 1;
    overflow: auto;
    margin-right: 16px;
}

.comment-pfp {
    margin-right: 2rem;
}

.comment-profile-picture-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.goto {
    align-self: flex-end;
}

.goto-button {
    background-color: #bafdff;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.goto-button:hover {
    background-color: #0080b3;
}

.edit-button {
    background-color: #ff9292;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    width: 80px;
}

.edit-button:hover {
    background-color: #b30000;
    color: rgb(255, 255, 255);
}

.edit-button-toggle {
    background-color: #bafdff;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    width: 80px;
}

.edit-button-toggle:hover {
    background-color: #0080b3;
    color: rgb(255, 255, 255);
}

.update-comment-button {
    background-color: #00ff00;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.update-comment-button:hover {
    background-color: #398d25;
    color: white;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
}

.delete-button:hover {
    background-color: #c82333;
}

.cancel-button {
    background-color: #6c757d;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
}

.cancel-button:hover {
    background-color: #5a6268;
    width: 80px;
}


.delete-project-button {
    background-color: #dc3545;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-project-button:hover {
    background-color: #c82333;
}

/* Form */

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: 500;
    margin-bottom: 4px;
    color: #374151;
}

.form-input {
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #f9fafb;
    transition: border-color 0.3s ease-in-out;
}

.form-input:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b82f6;
}

.form-error {
    color: #dc2626;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

/* Edit Pfp */

.edit-pfp-container {
    flex-shrink: 0;
}

.edit-pfp {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-bottom: 10px;
}

/*Statistics*/
.statistics {
    display: flex;
    gap: 1rem;
}

.stat-card {
    background-color: #81ffd9;
    padding: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.stat-card h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #4a5568;
}

.stat-card p {
    font-size: 2rem;
    color: #2d3748;
}

.stat-card:hover {
    background-color: #4ade80;
    transform: scale(1.05);
}


/*Pagination*/

.pagination {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.pagination p {
    margin: 5px;
}

.pagination button {
    background-color: white;
}

.pagination a {
    background-color: #36b6c7;
}

.pagination span {
    border-radius: 5px;
    font-size: 14px;
    color: #555;
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination span[aria-current="page"]>.relative.inline-flex.items-center {
    background-color: #102236;
    color: white;
    border-color: #111036;
}

.pagination span[aria-current="page"]>.relative.inline-flex.items-center:hover {
    background-color: #215f88;
    border-color: #1e447e;
}

.pagination .button.relative.inline-flex.items-center {
    background-color: #36b6c7;
}

.pagination .relative.inline-flex.items-center {
    background-color: white;
}

.pagination .relative.inline-flex.items-center:hover {
    background-color: #36b6c7;
}

.pagination .active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.pagination .disabled {
    color: #aaa;
    border-color: #ddd;
    cursor: not-allowed;
    background-color: #f5f5f5;
}

.pagination a,
.pagination .disabled {
    user-select: none;
}

/* Footer */

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #464646;
    color: #fff;
    padding: 20px;
}

/* Messages */

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
}